* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// === ANIMATIONS ===
@keyframes slideIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fillUp {
  100% {
    fill: #2980b9;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.container {
  width: 700px;
  margin: 2rem auto;
  padding: 10px;
  min-height: 500px;
  box-shadow: 20px 20px 60px #236d9d, -20px -20px 60px #c4ffff;
  border-radius: 20px;

  .header {
    width: 100%;
    margin: 0 auto;
  }

  #logo {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    fill: none;
    stroke: #000;
    transform: translateY(-100%);
    opacity: 0;
    animation: slideIn .5s forwards,
    fillUp 1.5s forwards .5s;

   
  }
}

.todo {
  width: 100%;
  display: flex;
  opacity: 0;
  animation: show .5s 1s forwards;

  &__form {
    width: 100%;

    &-input {
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      font-family: inherit;
      background-color: transparent;
      color: rgb(59, 51, 51);
      width: 90%;
      padding: 5px;
      transition: border 0.25s;

      &:focus {
        border-bottom: 2px solid #000;
      }
    }

    &-btn {
      margin-top: 10px;
      padding: 9px;
      border: 1px solid rgb(59, 51, 51);
      background-color: transparent;
      cursor: pointer;
      font-weight: bold;
      color: rgb(59, 51, 51);
      position: relative;
      outline: none;

      &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: green;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: width 0.25s, opacity 0.25s;
      }

      &:hover {
        color: #fff;
      }

      &:hover::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &__list {
    width: 100%;
    border-left: 1px solid #000;
    list-style: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    transition: all 1s;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 5px;
      padding: 5px;
      transition: color 0.25s ease-in, transform 1s;
    }

    &--check {
      justify-self: center;
      -webkit-appearance: none;
      display: inline-block;
      padding: 9px;
      margin-right: 4px;
      cursor: pointer;
      border: 1px solid #cacece;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      position: relative;
      background-color: #fafafa;
      outline: none;

      &:active,
      &:checked:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      }

      &:checked {
        background-color: green;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
          inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #99a1a7;

        &:after {
          content: "\2714";
          font-size: 14px;
          position: absolute;
          top: 0;
          left: 3px;
          color: #fff;
        }
      }
    }

    &--trash {
      padding-left: 4px;
      margin-left: auto;
      background-color: transparent;
      color: red;
      border: none;
      cursor: pointer;

      i {
        pointer-events: none;
      }
    }
  }
}

.selected {
  text-decoration: line-through;
  color: rgb(90, 87, 87);
}

.scaleOut {
  transform: scale(0) rotate(360deg);
}
