* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// === ANIMATIONS ===
@keyframes logoIn {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillUp {
  100% {
    fill: #2980b9;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.container {
  width: 700px;
  margin: 2rem auto;
  padding: 10px;
  min-height: 500px;
  box-shadow: 20px 20px 60px #236d9d, -20px -20px 60px #c4ffff;
  border-radius: 20px;

  .header {
    width: 100%;
    margin: 0 auto;
  }

  #logo {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    fill: none;
    stroke: #000;
    animation: fillUp 1.5s forwards 3.5s;

    .cls-1 {
      stroke-dasharray: 273;
      animation: fillUp 0.5s forwards 3.5s;
      stroke-dashoffset: 273;
      animation: logoIn 1s forwards;
    }
    .cls-2 {
      stroke-dasharray: 283;
      stroke-dashoffset: 283;
      animation: logoIn 1s forwards 0.1s;
    }
    .cls-3 {
      stroke-dasharray: 455;
      stroke-dashoffset: 455;
      animation: logoIn 1s forwards 0.2s;
    }
    .cls-4 {
      stroke-dasharray: 455;
      stroke-dashoffset: 455;
      animation: logoIn 1s forwards 0.3s;
    }
    .cls-5 {
      stroke-dasharray: 236;
      stroke-dashoffset: 236;
      animation: logoIn 1s forwards 0.4s;
    }
    .cls-6 {
      stroke-dasharray: 61;
      stroke-dashoffset: 61;
      animation: logoIn 1s forwards 0.5s;
    }
    .cls-7 {
      stroke-dasharray: 310;
      stroke-dashoffset: 310;
      animation: logoIn 1s forwards 0.6s;
    }
    .cls-8 {
      stroke-dasharray: 273;
      stroke-dashoffset: 273;
      animation: logoIn 1s forwards 0.7s;
    }
    .cls-9 {
      stroke-dasharray: 308;
      stroke-dashoffset: 308;
      animation: logoIn 2s forwards 0.8s;
    }
    .cls-10 {
      stroke-dasharray: 67;
      stroke-dashoffset: 67;
      animation: logoIn 2s forwards 1s;
    }
    .cls-11 {
      stroke-dasharray: 252;
      stroke-dashoffset: 252;
      animation: logoIn 2s forwards 1.2s;
    }
    .cls-12 {
      stroke-dasharray: 309;
      stroke-dashoffset: 309;
      animation: logoIn 2s forwards 1.4s;
    }
    .cls-13 {
      stroke-dasharray: 233;
      stroke-dashoffset: 233;
      animation: logoIn 2s forwards 1.6s;
    }
    .cls-14 {
      stroke-dasharray: 178;
      stroke-dashoffset: 178;
      animation: logoIn 2s forwards 1.8s;
    }
    .cls-15 {
      stroke-dasharray: 310;
      stroke-dashoffset: 310;
      animation: logoIn 2s forwards 2s;
    }
    .cls-16 {
      stroke-dasharray: 273;
      stroke-dashoffset: 273;
      animation: logoIn 2s forwards 2.2s;
    }
  }
}

.todo {
  width: 100%;
  display: flex;
  opacity: 0;
  animation: show 1s 4s forwards;

  &__form {
    width: 100%;

    &-input {
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      font-family: inherit;
      background-color: transparent;
      color: rgb(59, 51, 51);
      width: 90%;
      padding: 5px;
      transition: border 0.25s;

      &:focus {
        border-bottom: 2px solid #000;
      }
    }

    &-btn {
      margin-top: 10px;
      padding: 9px;
      border: 1px solid rgb(59, 51, 51);
      background-color: transparent;
      cursor: pointer;
      font-weight: bold;
      color: rgb(59, 51, 51);
      position: relative;
      outline: none;

      &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: green;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: width 0.25s, opacity 0.25s;
      }

      &:hover {
        color: #fff;
      }

      &:hover::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &__list {
    width: 100%;
    border-left: 1px solid #000;
    list-style: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    transition: all 1s;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 5px;
      padding: 5px;
      transition: color 0.25s ease-in, transform 1s;
    }

    &--check {
      justify-self: center;
      -webkit-appearance: none;
      display: inline-block;
      padding: 9px;
      margin-right: 4px;
      cursor: pointer;
      border: 1px solid #cacece;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      position: relative;
      background-color: #fafafa;
      outline: none;

      &:active,
      &:checked:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      }

      &:checked {
        background-color: green;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
          inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #99a1a7;

        &:after {
          content: "\2714";
          font-size: 14px;
          position: absolute;
          top: 0;
          left: 3px;
          color: #fff;
        }
      }
    }

    &--trash {
      padding-left: 4px;
      margin-left: auto;
      background-color: transparent;
      color: red;
      border: none;
      cursor: pointer;

      i {
        pointer-events: none;
      }
    }
  }
}

.selected {
  text-decoration: line-through;
  color: rgb(90, 87, 87);
}

.scaleOut {
  transform: scale(0) rotate(360deg);
}
